<%= form_tag('/confirm', :id =>"cart_form") do -%>

          <div class="header_form_tuition">
            <div class="text_form_header">
              <table width="100%">
                <tr>
                  <td width="30%"><strong>COURSE LEVEL </strong></td>
                  <td width="25%"><strong>NUMBER OF PARTICIPANT</strong></td>
                  <td width="25%"><strong>NUMBER OF SESSIONS</strong></td>
                  <td width="20%"><strong>TOTAL</strong></td>
                </tr>
              </table>
            </div>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'tbd' %>
                 <label class="lbl_1"><span class="text_form">TO BE DETERMINED</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_tbd", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_1_1' %>
                 <label class="lbl_1"><span class="text_form">IND 1.1 BAHASA INDONESIA:BEGINNER 1</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_1_1", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_1_2' %>
                 <label class="lbl_1"><span class="text_form">IND 1.2 BAHASA INDONESIA:BEGINNER 2</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_1_2", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_2_1' %>
                 <label class="lbl_1"><span class="text_form">IND 2.1 BAHASA INDONESIA:INTERMEDIATE 1</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_2_1", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_2_2' %>
                 <label class="lbl_1"><span class="text_form">IND 2.2 BAHASA INDONESIA:INTERMEDIATE 2</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_2_2", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_3_1' %>
                 <label class="lbl_1"><span class="text_form">IND 3.1 BAHASA INDONESIA:ADVANCE 1</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_3_1", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_3_2' %>
                 <label class="lbl_1"><span class="text_form">IND 3.2 BAHASA INDONESIA:ADVANCE 2</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_3_2", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'ind_3_3' %>
                 <label class="lbl_1"><span class="text_form">IND 3.3 BAHASA INDONESIA:ADVANCE 3</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_ind_3_3", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <%= radio_button_tag 'course_package', 'custom_program' %>
                 <label class="lbl_1"><span class="text_form">CUSTOM PROGRAM</span></label>
               </td>
               <td width="20%">
                 <%= select_tag "number_participants_custom_program", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
        
        <div class="header_form_addition">
          <div class="text_form_header"><strong>ADDITIONAL FEES</strong></div>
        </div>
        
        <div class="bar"><strong>PAY  YOUR ACCOMODATION FEES</strong></div>
        <div class="bar_menu_li">
           <table width="100%">
             <tr>
               <td width="80%"><label class="lbl_1">&nbsp;&nbsp;<input name="box9" type="text" id="textfield" size="50" /></td>
               <td width="20%"><input name="box8" type="text" id="textfield2" size="20" /></td>
              </tr>
           </table>
        </div>
      
        <div class="bar"><strong>PAY OTHER FEES</strong></div>
        <div class="bar_menu_li">
           <table width="100%">
             <tr>
               <td width="80%"><label class="lbl_1">&nbsp;&nbsp;<input name="box9" type="text" id="textfield" size="50" /></td>
               <td width="20%"><input name="box8" type="text" id="textfield2" size="20" /></td>
              </tr>
           </table>
        </div>
               
        <div class="button_pay">
          <%= image_submit_tag("button.png") %>
        </div>
        
          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Course1"/>
        	<input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="4420000"/>
        	<input type="hidden" name="commodity[][COMMODITY_NUM]"   value="1"/>
        	<input type="hidden" name="commodity[][COMMODITY_NAME1]" value="IND BEGINNER 1.1"/>
        	
        	<input type="hidden" name="commodity[][COMMODITY_ID]"    value="Acc1"/>
        	<input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2000000"/>
        	<input type="hidden" name="commodity[][COMMODITY_NUM]"   value="1"/>
        	<input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Accomodation Fee"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Cust1"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="1000000"/> 
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="1"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Custom Fee"/>

        	<input type="hidden" name="gross_amount"                 value="7420000"/>
        
<% end %>
<%= session[:myname] %>          
        