  <div class="menu">
    <div class="img_menu"><%= image_tag("menu.png", :alt => "Menu" ) %></div>
  </div>
  <div class="body_form">
    <div class="form_text"><font color="#FF6600">Course</font> <font color="#666666">Cost</font></div>
    
    <div class="jeda"></div>
    <div class="form_course">
      <div class="form_title1"><%= image_tag("title_form1.png", :alt => "Menu" ) %></div>
      <label class="lbl_1"><span>Course Level &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <select name="select" size="1" id="select">
        <option>beginner I</option>
        <option>beginner II</option>
        <option>intermediate I</option>
        <option>intermediate II</option>
        <option>advance I</option>
        <option>advance II</option>
      </select>
      </label>
      <label class="lbl_1"><span>Course Fee &nbsp;&nbsp;&nbsp;</span><input type="text" class="input_type" name="fee" id="fee"/></label>
      <label class="lbl_2"><span>Numbers Of Client</span>
      <select name="numb" size="1" id="numb">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      </label>
    </div>
    
    <div class="box_custom_course"> 
      <div class="form_title2"><%= image_tag("title_form2.png", :alt => "Menu" ) %> </div>
      <div class="summary"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p></div>
    <label class="lbl_3">Accomodation Fees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="cust_fee"  name="cust_fee" />
    </label>
    </div>
    
    <div class="box_custom_course"> 
      <div class="form_title2"><%= image_tag("title_form2.png", :alt => "Menu" ) %> </div>
      <div class="summary"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p></div>
    <label class="lbl_3">Pay Other Fees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="cust_fee"  name="cust_fee" />
    </label>
    </div>
    
    <div class="bttn_confirm"><a href="form_payment.html"><%= image_tag("button2.png", :alt => "Menu" ) %></a></div>
  </div>